<a href="https://colab.research.google.com/github/Nargis45/feature_engineering/blob/main/Handling_categorical_features_using_one_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Handling categorical features**

**ONE HOT ENCODING**

In [1]:
import pandas as pd

In [3]:
import statsmodels.api as sm
#mounting the drive to import the file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
#providing the path of the file and storing the data in dataset and pandas library is used to study the data
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic_train.csv',usecols=['Sex'])

In [9]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [14]:
pd.get_dummies(df, drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [15]:
#providing the path of the file and storing the data in dataset and pandas library is used to study the data
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic_train.csv',usecols=['Embarked'])

In [16]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [18]:
df.dropna(inplace=True)

In [19]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [21]:
pd.get_dummies(df, drop_first=False).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [22]:
pd.get_dummies(df, drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

**ONE HOT ENCODING ON MULTIPLE CATEGORIES**

In [26]:
#providing the path of the file and storing the data in dataset and pandas library is used to study the data
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [27]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [ ]:
for i in df.columns:
  print(df[i].value_counts())

In [29]:
for i in df.columns:
  print(df[i].unique())

['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
['a' 'e' 'c' 'f' 'd' 'b' 'g']
['d' 'b' 'c' 'a']
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']

In [30]:
for i in df.columns:
  print(len(df[i].unique()))

47
27
44
7
4
29
12

In [31]:
#kdd cup orange challenge with ensemble technique
#take first top 10 categories andapply one hot encoding on top 10 categories

In [32]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [35]:
df.X1.value_counts().sort_values(ascending=False).head(10).index

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [37]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [38]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [39]:
import numpy as np
for categories in lst_10:
  df[categories]=np.where(df['X1']==categories,1,0)

In [43]:
df['X1']

0       v
1       t
2       w
3       t
4       v
       ..
4204    s
4205    o
4206    v
4207    r
4208    r
Name: X1, Length: 4209, dtype: object

In [42]:
lst_10.append('X1')

In [44]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]